.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: white;
  }
  
  /* .link.active {
    color: #e84a5f;
  } */
  
  .active {
    color: #e84a5f;
    /* font-weight: 600; */
    /* border-bottom: 2px solid #e84a5f; */
  }
  